.messageBox {
    background: #f3f3f3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    word-wrap: break-word;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    margin-top: 3px;
    margin-left: 10%;
    margin-bottom: 1px;
    height: 100%;
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #828282;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.bgBlue {
    background: #2979ff;
}

.bgLight {
    background: #b71818;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.colorDark {
    color: #353535;
}

.colorWhite {
    color: #20ff40;
}

.messages_container {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
    background: #f3f3f3;
    scroll-behavior: smooth;
}